.DS_Store
.tmp/
.idea/
.cache/
.awspublish-*
.otf
node_modules/
bower_components/

fonts/*
build/
deploy/
credentials/
npm-debug.log
workspace/data/*
workspace/fonts/*
!.gitkeep

workspace/src/libs/config.js
workspace/src/static/robots.txt
workspace/src/static/sitemap_location.xml
workspace/src/libs/style/images.styl
workspace/src/libs/style/cdn.styl
workspace/data/imagesize.js
upload_develop.sh
upload_staging.sh
upload_release.sh
workspace/src/components/env.js
